@model BlogMvcApp.Models.Blog

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-8">
        <h1>@Model.Baslik</h1>
        <hr />
        <p>
            <span class="glyphicon glyphicon-time"></span>
            @Model.EklenmeTarihi
        </p>
        <hr />
        <img class="img-responsive" src="http://placehold.it/900x300" alt="" />
        <hr />
        <blockquote>
            <p>@Model.Aciklama</p>
        </blockquote>
        <p>
            @Model.Icerik
        </p>
    </div>

    <div class="col-md-4">



    </div>
</div>



