@model  IEnumerable<BlogMvcApp.Models.BlogModel>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Blog Listesi</h2>
<div class="row">
    <div class="col-md-8">
        @foreach (var blog in Model)
        {
        <div class="blogitem">
            <h3 class="page-header">
                @blog.Baslik
            </h3>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                @blog.EklenmeTarihi
            </p>
            <hr />
            <img class="img-responsive" src="http://placehold.it/900x300" alt="" />
            <hr />
            <p>
                @blog.Aciklama
            </p>
            @Html.ActionLink("Daha Fazla...","Details","Blog",new {id = blog.Id }, new {@class = "btn btn-primary" })
        </div>
        }
    </div>
    <div class="col-md-4">

    </div>

</div>

    